<!doctype html>
<html lang="pt_BR">

<head th:replace="~{/fragments/base :: headfiles}">

</head>

<body class="text-center">

<form class="form-signin" style="width: 500px; margin: auto" th:action="@{/login}" method="POST">
    <div class="align-center justify-content-center">
        <img th:src="@{/matexpress/imagens/logo-t3.png}" alt="Logo" width="170">
        <br>
        <h1 class="h4 mt-3 mb-3 font-weight-normal">Bem vindo ao MatExpress</h1>
        <h1 class="h4 mb-3 font-weight-normal">por favor, faça login</h1>

        <div th:if="${not #strings.isEmpty(mensagem)}"
             th:utext="${mensagem} +'<button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;><span aria-hidden=&quot;true&quot;>&times;</span></button>'"
             class="alert alert-danger alert-dismissible fade show" role="alert">

        </div>
        <div class="card p-4">
            <label for="username" class="sr-only text-align-left">Username</label>
            <input type="username" id="username" class="form-control input-login" placeholder="Username" required autofocus>
            <br>
            <label for="password" class="sr-only">Senha</label>
            <input type="password" id="password" class="form-control input-login" placeholder="Senha" required>
            <br>
            <button class="btn btn-lg btn-primary" type="submit">Entrar</button>
        </div>
    </div>
</form>

</body>

</html>