<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<body>
<div layout:fragment="content">
<form th:action="@{salvar}" method="post" th:object="${declaracao}" enctype="multipart/form-data">
    <div th:text="${mensagemErro}" th:if="${mensagemErro != null}" class="alert alert-danger"></div>

    <input type="hidden" th:field="*{id}"/>
    <label class="form-label" for="dataRecebimento">Data Recebimento</label>
    <input class="form-control" type="date" id="dataRecebimento" th:field="*{dataRecebimento}" required><br>


    <label class="form-label" for="dataVencimento">Data Vencimento</label>
    <input class="form-control" id="dataVencimento" type="date" th:field="*{dataVencimento}" required/><br>
    
    <label for="file">Arquivo</label><br>
    <input id="file" class="form-control" type="file" name="file" accept="doc/pdf" required /><br>

    <label class="form-label" for="estudante">Estudante</label>
    <select class="form-select" id="estudante" th:field="*{titular}">
        <option  th:value="${estudantePesquisado.id}"
                th:text="${estudantePesquisado.nome}" ></option>
    </select>
    <br>
    <label class="form-label" for="instituicao">Instituição</label>
    <input class="form-control" id="instituicao" th:value="${instituicao.sigla}" disabled>
    <br>
    <label class="form-label" for="periodos">Escolha o seu período</label>
    <select class="form-select" id="periodos" th:field="*{periodoLetivo}">
        <option th:each="pi : ${periodos}" th:value="${pi.id}"
                th:text="${'Período: '+pi.periodo }"></option>
    </select>

    <br>
    <button type="submit" class="btn btn-primary mb-3">Cadastrar Declaração</button>
</form>
    <a class="btn btn-danger" role="button" th:href="@{/matexpress/estudantes}">Cancelar Cadastro</a>


</div>
</body>
</html>