<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<body>
<div layout:fragment="content">
<form th:action="@{salvar}" method="POST" th:object="${declaracao}">

    <input type="hidden" th:field="*{id}"/>
    <label class="form-label" for="dataRecebimento">Data Recebimento</label>
    <input type="date" id="dataRecebimento" th:field="*{dataRecebimento}" class="form-control" th:errorclass="is-invalid"/>
    <div class="invalid-feedback" th:errors="*{dataRecebimento}"></div><br>

    <label class="form-label" for="dataVencimento">Data Vencimento</label>
    <input type="date" id="dataVencimento" th:field="*{dataVencimento}" class="form-control"  th:errorclass="is-invalid"/>
    <div class="invalid-feedback" th:errors="*{dataVencimento}"></div><br>

    <label class="form-label" for="observacoes">Observações</label>
    <textarea id="observacoes" type="text" th:field="*{observacoes}" class="form-control" th:errorclass="is-invalid"></textarea>
    <div class="invalid-feedback" th:errors="*{observacoes}"></div><br>

    <label class="form-label" for="estudante">Estudante</label>
    <select class="form-select" id="estudante" th:field="*{titular}">
        <option  th:value="${estudantePesquisado.id}"
                th:text="${estudantePesquisado.nome}" ></option>
    </select>
    <br>
    <label class="form-label" for="instituicao">Instituição</label>
    <input class="form-control" id="instituicao" th:value="${instituicao.sigla}" disabled>
    <br>
    <label class="form-label" for="periodos">Escolha o seu período</label>
    <select class="form-select" id="periodos" th:field="*{periodoLetivo}">
        <option th:each="pi : ${periodos}" th:value="${pi.id}"
                th:text="${'Período: '+pi.periodo }"></option>
    </select>

    <br>
    <button type="submit" class="btn btn-primary mb-3">Cadastrar Declaração</button>
</form>

</div>
</body>
</html>