<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    Listagem de Períodos
</h1>
<table border="1">
    <thead>
    <tr>
        <th>Ano</th>
        <th>Período</th>
        <th>Início do Período</th>
        <th>Fim do Período</th>
        <th>Edição</th>
        <th>Exclusão</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="periodo : ${periodos}">
        <td th:text="${periodo.getAno()}"></td>
        <td th:text="${periodo.getPeriodo()}"></td>
        <td th:text="${periodo.getInicio()}"></td>
        <td th:text="${periodo.getFim()}"></td>
        <td><a th:href="@{editarperiodo/{idPeriodo}(idPeriodo=${periodo.getId()})}">Editar Período</a></td>
        <td><a th:href="@{removerperiodo/{idPeriodo}(idPeriodo=${periodo.getId()})}">Remover Período</a></td>
    </tr>
    </tbody>
</table>
<button><a th:href="@{form}">Cadastrar Novo período</a></button>
</body>
</html>